.note-container {
    padding: 10px 25px;
}

.date-container {
    text-align: center;
}

.date-container .date {
    color: #A6AAA9;
}

.note-container textarea {
    background: transparent;
    border: none;
    border-radius: 0;
}