.header {
    height: 68px;
    background: #D1D1D1;
    border-bottom: 2px solid #B5B5B5;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.header button,
.header input {
    border: none;
    border-radius: 10px;
    height: 45px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.header button {
    background: #F2F2F2;
    display: inherit;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    margin-right: 10px;
}

.header button svg {
    min-height: 20px;
    width: auto !important;
}

.header input {
    padding-left: 15px;
}