.notes-container {
    width: 25vw;
    border-right: 2px solid #E6E6E6;
}

.note {
    padding: 15px 20px;
    cursor: pointer;
}

.note:hover {
    background: #FBDF8C;
}

.note .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note .date-message-container {
    display: flex;
    align-items: center;
}

.note .date-message-container p,
.note .date-message-container span {
    white-space: nowrap;
}

.note .date-message-container .date {
    color: #454545;
    font-weight: 600;
}

.note .date-message-container .body {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 10px;
    color: #636362;
}

.no-notes {
    padding: 10px 15px;
}